<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Collection</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style="height: 100vh">
		<div class="mt-5 mx-5 d-flex justify-content-between">
			<div>
				<a class="btn btn-sm btn-primary" th:href="@{/index}">Front page</a>
				<h2>Logged in as: <span sec:authentication="name"></span></h2>
			</div>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class = "btn btn-sm btn-danger"/>
			</form>
		</div>
		<div class="my-2 d-flex justify-content-center align-items-center">
			<h1>My Collections</h1>
		</div>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Quantity</th>
				<th>Location</th>
				<th></th>
			</tr>
			<tr th:each="collection : ${collections}">
				<td th:text="|${collection.mushroom.name} (${collection.mushroom.binomen})|"></td>
				<td th:text="${collection.date}"></td>
				<td th:text="${collection.quantity} + ' g'"></td>
				<td th:text="${collection.location}"></td>
				<td><a class="btn btn-success" th:href="@{/editcollection/{id}(id = ${collection.collectionid})}">Edit</a></td>
		</tbody>
	</table>
</body>
</html>