<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Shroombank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style = "padding: 15px">
	<table class = "table table-striped" style = "width:800px">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Edible</th>
				<th>Taste</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="mushroom : ${mushrooms}">
				<td th:text="|${mushroom.name} (${mushroom.binomen})|"></td> <!-- pipes "||" allow literal substitutions -->
				<td th:text="${mushroom.edible}"></td>
				<td th:text="${mushroom.taste}"></td>
				<td>
					<a class = "btn btn-success" th:href = "@{/edit/{id}(id = ${mushroom.id})}">Edit</a>
				</td>
				<td> <!--  sec:authorize = "hasAuthority('ADMIN')" -->
					<a class = "btn btn-danger" th:href = "@{/delete/{id}(id = ${mushroom.id})}">Delete</a>
				</td>
		</tbody>
	</table>
	<a class = "btn btn-success" href = "/add" >New Mushroom</a>
</body>