<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Shroombank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style = "padding: 15px">
	<h2>Logged in as <span sec:authentication = "name"></span></h2>
	<h2>Roles:
		<th:block th:each = "role, iterStatus:${#authentication.getAuthorities()}">
	    	<th:block th:text = "${role}" ></th:block>
	    	 <!-- Tämä ehtolauseke ei tee juuri nyt mitään, mutta jos rooleja (authorities-attribuutteja) olisi useampi niin pilkut menisivät oikein-->
	    	<th:block th:if = "${!iterStatus.last}">, </th:block>
		</th:block>
	</h2>
	<div>
		<form th:action = "@{/logout}" method = "post">
			<input type = "submit" value = "Sign Out" class = "btn btn-sm btn-danger"/>
		</form>
	</div>
	<table class = "table table-striped">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Edible</th>
				<th>Taste</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="mushroom : ${mushrooms}">
				<td th:text="|${mushroom.name} (${mushroom.binomen})|"></td> <!-- pipes "||" allow literal substitutions -->
				<td th:text="${mushroom.edible}"></td>
				<td th:text="${mushroom.taste}"></td>
				<td sec:authorize = "hasAuthority('ADMIN')">
					<a class = "btn btn-success" th:href = "@{/edit/{id}(id = ${mushroom.mushroomid})}">Edit</a>
				</td>
				<td sec:authorize = "hasAuthority('ADMIN')">
					<a class = "btn btn-danger" th:href = "@{/delete/{id}(id = ${mushroom.mushroomid})}">Delete</a>
				</td>
		</tbody>
	</table>
	<a class = "btn btn-success" sec:authorize = "hasAuthority('ADMIN')" href = "/add" >New Mushroom</a>
</body>