<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<title>Shroombank</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
		<div class="mt-5 mx-5 d-flex justify-content-between">
			<div>
				<a class="btn btn-sm btn-primary" th:href="@{/index}">Front page</a>
				<h2>Logged in as: <span sec:authentication="name"></span></h2>
			</div>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class = "btn btn-sm btn-danger"/>
			</form>
	</div>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Username</th>
				<th>Role</th>
				<th></th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.username}"></td>
				<td th:text="${user.role}"></td>
				<td sec:authorize="hasAuthority('ADMIN')" th:unless="${user.role == 'ADMIN'}">
					<a class="btn btn-danger text-white" sec:authorize="hasAuthority('ADMIN')" th:href="@{/deleteuser/{id}(id=${user.userid})}">Delete</a>
				</td>
		</tbody>
	</table>
</body>